# Import Libraries

In [3]:
# Import Libraries

import pandas as pd
import numpy as np

# Import the Data

In [4]:
# Import the data

academy_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\academy.csv")

box_office_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\box_office.csv")

genres_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\genres.csv")

pixar_data_dict_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\pixar_data_dictionary.csv")

pixar_films_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\pixar_films.csv")

pixar_people_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\pixar_people.csv")

public_response_df = pd.read_csv(r"D:\Power BI Projects\MAVEN ANALYTICS - PIXAR\Pixar+Films\public_response.csv")

# academy_df

In [5]:
# academy_df

In [6]:
# academy_df.info()

In [7]:
# academy_df.describe()

In [8]:
# status_df

status_df = pd.DataFrame({
    'status':academy_df['status'].unique()
}).reset_index().rename(columns={'index':'status_id'})

# status_df

In [9]:
# award_type_df

award_type_df = pd.DataFrame({
    'award_type' : academy_df['award_type'].unique()
}).reset_index().rename(columns={'index':'award_type_id'})

# award_type_df

In [10]:
merged_df_10 = academy_df.merge(status_df, on='status', how='inner')

academy_df = merged_df_10.drop(columns=['status'])

# academy_df

In [11]:
merged_df_11 = academy_df.merge(award_type_df, on='award_type', how='inner')

academy_df = merged_df_11.drop(columns=['award_type'])

# academy_df

In [12]:
merged_df_12 = academy_df.merge(pixar_films_df, on='film', how='inner')

academy_df = merged_df_12.drop(columns=['film', 'release_date', 'run_time', 'plot', 'film_rating_id'])

# academy_df

KeyError: "['film_rating_id'] not found in axis"

In [ ]:
# academy_df.to_csv("academy.csv", index=False)

# status_df.to_csv("academy_status.csv", index=False)

# award_type_df.to_csv("academy_type.csv", index=False)

# box_office_df

In [ ]:
# box_office_df

,film,budget,box_office_us_canada,box_office_other,box_office_worldwide
0,Toy Story,30000000.0,223225679,171210907,394436586
1,A Bug's Life,120000000.0,162798565,200460294,363258859
2,Toy Story 2,90000000.0,245852179,265506097,511358276
3,"Monsters, Inc.",115000000.0,255873250,272900000,528773250
4,Finding Nemo,94000000.0,339714978,531300000,871014978
5,The Incredibles,92000000.0,261441092,370001000,631442092
6,Cars,120000000.0,244082982,217900167,461983149
7,Ratatouille,150000000.0,206445654,417280431,623726085
8,WALL-E,180000000.0,223808164,297503696,521311860
9,Up,175000000.0,293004164,442094918,735099082
10,Toy Story 3,200000000.0,415004880,651964823,1066969703
11,Cars 2,200000000.0,191452396,368400000,559852396
12,Brave,185000000.0,237283207,301700000,538983207
13,Monsters University,200000000.0,268492764,475066843,743559607
14,Inside Out,175000000.0,356461711,501149463,857611174
15,The Good Dinosaur,175000000.0,123087120,209120551,332207671
16,Finding Dory,200000000.0,486295561,542275328,1028570889
17,Cars 3,175000000.0,152901115,231029541,383930656
18,Coco,175000000.0,210460015,604181157,814641172
19,Incredibles 2,200000000.0,608581744,634223615,1242805359
20,Toy Story 4,200000000.0,434038008,639356585,1073394593
21,Onward,175000000.0,61555145,80384897,141940042
22,Soul,150000000.0,946154,120957731,121903885
23,Luca,NaN,1324302,49788012,51112314
24,Turning Red,175000000.0,1399001,20414357,21813358
25,Lightyear,200000000.0,118307188,108118232,226425420
26,Elemental,200000000.0,154426697,342017611,496444308
27,Inside Out 2,200000000.0,652980194,1045050771,1698030965

In [ ]:
# box_office_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film                  28 non-null     object
 1   budget                27 non-null     float64
 2   box_office_us_canada  28 non-null     int64
 3   box_office_other      28 non-null     int64
 4   box_office_worldwide  28 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.2+ KB

In [ ]:
# box_office_df.describe()

,budget,box_office_us_canada,box_office_other,box_office_worldwide
count,2.700000e+01,2.800000e+01,2.800000e+01,2.800000e+01
mean,1.611481e+08,2.475444e+08,3.611199e+08,6.086643e+08
std,4.522142e+07,1.631609e+08,2.300110e+08,3.826497e+08
min,3.000000e+07,9.461540e+05,2.041436e+07,2.181336e+07
25%,1.350000e+08,1.540453e+08,2.069555e+08,3.787627e+08
50%,1.750000e+08,2.305457e+08,3.218588e+08,5.338782e+08
75%,2.000000e+08,3.046819e+08,5.086871e+08,8.253837e+08
max,2.000000e+08,6.529802e+08,1.045051e+09,1.698031e+09

In [ ]:
# Fill the NaN value with the mean of the column

box_office_df['budget'] = box_office_df['budget'].fillna(box_office_df['budget'].mean())

In [ ]:
# Fixing the Datatype

box_office_df['box_office_us_canada'] = box_office_df['box_office_us_canada'].astype('float64')

box_office_df['box_office_other'] = box_office_df['box_office_other'].astype('float64')

box_office_df['box_office_worldwide'] = box_office_df['box_office_worldwide'].astype('float64')

In [ ]:
# box_office_df

,film,budget,box_office_us_canada,box_office_other,box_office_worldwide
0,Toy Story,3.000000e+07,223225679.0,1.712109e+08,3.944366e+08
1,A Bug's Life,1.200000e+08,162798565.0,2.004603e+08,3.632589e+08
2,Toy Story 2,9.000000e+07,245852179.0,2.655061e+08,5.113583e+08
3,"Monsters, Inc.",1.150000e+08,255873250.0,2.729000e+08,5.287732e+08
4,Finding Nemo,9.400000e+07,339714978.0,5.313000e+08,8.710150e+08
5,The Incredibles,9.200000e+07,261441092.0,3.700010e+08,6.314421e+08
6,Cars,1.200000e+08,244082982.0,2.179002e+08,4.619831e+08
7,Ratatouille,1.500000e+08,206445654.0,4.172804e+08,6.237261e+08
8,WALL-E,1.800000e+08,223808164.0,2.975037e+08,5.213119e+08
9,Up,1.750000e+08,293004164.0,4.420949e+08,7.350991e+08
10,Toy Story 3,2.000000e+08,415004880.0,6.519648e+08,1.066970e+09
11,Cars 2,2.000000e+08,191452396.0,3.684000e+08,5.598524e+08
12,Brave,1.850000e+08,237283207.0,3.017000e+08,5.389832e+08
13,Monsters University,2.000000e+08,268492764.0,4.750668e+08,7.435596e+08
14,Inside Out,1.750000e+08,356461711.0,5.011495e+08,8.576112e+08
15,The Good Dinosaur,1.750000e+08,123087120.0,2.091206e+08,3.322077e+08
16,Finding Dory,2.000000e+08,486295561.0,5.422753e+08,1.028571e+09
17,Cars 3,1.750000e+08,152901115.0,2.310295e+08,3.839307e+08
18,Coco,1.750000e+08,210460015.0,6.041812e+08,8.146412e+08
19,Incredibles 2,2.000000e+08,608581744.0,6.342236e+08,1.242805e+09
20,Toy Story 4,2.000000e+08,434038008.0,6.393566e+08,1.073395e+09
21,Onward,1.750000e+08,61555145.0,8.038490e+07,1.419400e+08
22,Soul,1.500000e+08,946154.0,1.209577e+08,1.219039e+08
23,Luca,1.611481e+08,1324302.0,4.978801e+07,5.111231e+07
24,Turning Red,1.750000e+08,1399001.0,2.041436e+07,2.181336e+07
25,Lightyear,2.000000e+08,118307188.0,1.081182e+08,2.264254e+08
26,Elemental,2.000000e+08,154426697.0,3.420176e+08,4.964443e+08
27,Inside Out 2,2.000000e+08,652980194.0,1.045051e+09,1.698031e+09

In [ ]:
merged_df_7 = box_office_df.merge(pixar_films_df, on='film', how='inner')

box_office_df = merged_df_7.drop(columns=['film', 'release_date', 'run_time', 'plot', 'film_rating_id'])

# box_office_df

,budget,box_office_us_canada,box_office_other,box_office_worldwide,number
0,3.000000e+07,223225679.0,1.712109e+08,3.944366e+08,1
1,1.200000e+08,162798565.0,2.004603e+08,3.632589e+08,2
2,9.000000e+07,245852179.0,2.655061e+08,5.113583e+08,3
3,1.150000e+08,255873250.0,2.729000e+08,5.287732e+08,4
4,9.400000e+07,339714978.0,5.313000e+08,8.710150e+08,5
5,9.200000e+07,261441092.0,3.700010e+08,6.314421e+08,6
6,1.200000e+08,244082982.0,2.179002e+08,4.619831e+08,7
7,1.500000e+08,206445654.0,4.172804e+08,6.237261e+08,8
8,1.800000e+08,223808164.0,2.975037e+08,5.213119e+08,9
9,1.750000e+08,293004164.0,4.420949e+08,7.350991e+08,10
10,2.000000e+08,415004880.0,6.519648e+08,1.066970e+09,11
11,2.000000e+08,191452396.0,3.684000e+08,5.598524e+08,12
12,1.850000e+08,237283207.0,3.017000e+08,5.389832e+08,13
13,2.000000e+08,268492764.0,4.750668e+08,7.435596e+08,14
14,1.750000e+08,356461711.0,5.011495e+08,8.576112e+08,15
15,1.750000e+08,123087120.0,2.091206e+08,3.322077e+08,16
16,2.000000e+08,486295561.0,5.422753e+08,1.028571e+09,17
17,1.750000e+08,152901115.0,2.310295e+08,3.839307e+08,18
18,1.750000e+08,210460015.0,6.041812e+08,8.146412e+08,19
19,2.000000e+08,608581744.0,6.342236e+08,1.242805e+09,20
20,2.000000e+08,434038008.0,6.393566e+08,1.073395e+09,21
21,1.750000e+08,61555145.0,8.038490e+07,1.419400e+08,22
22,1.500000e+08,946154.0,1.209577e+08,1.219039e+08,23
23,1.611481e+08,1324302.0,4.978801e+07,5.111231e+07,24
24,1.750000e+08,1399001.0,2.041436e+07,2.181336e+07,25
25,2.000000e+08,118307188.0,1.081182e+08,2.264254e+08,26
26,2.000000e+08,154426697.0,3.420176e+08,4.964443e+08,27
27,2.000000e+08,652980194.0,1.045051e+09,1.698031e+09,28

In [ ]:
# box_office_df.to_csv("box_office.csv", index=False)

# genres_df

In [ ]:
# genres_df

             film  category               value
0       Toy Story     Genre           Adventure
1       Toy Story     Genre           Animation
2       Toy Story     Genre              Comedy
3       Toy Story  Subgenre        Buddy Comedy
4       Toy Story  Subgenre  Computer Animation
..            ...       ...                 ...
199  Inside Out 2  Subgenre       Coming-of-Age
200  Inside Out 2  Subgenre  Computer Animation
201  Inside Out 2  Subgenre               Quest
202  Inside Out 2  Subgenre         Teen Comedy
203  Inside Out 2  Subgenre          Teen Drama

[204 rows x 3 columns]

In [ ]:
# genres_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   film      204 non-null    object
 1   category  204 non-null    object
 2   value     204 non-null    object
dtypes: object(3)
memory usage: 4.9+ KB

In [ ]:
# genres_df.describe()

          film  category      value
count      204       204        204
unique      28         2         39
top     Cars 2  Subgenre  Adventure
freq         9       120         28

In [ ]:
genre_category = pd.DataFrame({
    'category':genres_df['category'].unique()
}).reset_index().rename(columns={'index':'category_id'})

# genre_category

   category_id  category
0            0     Genre
1            1  Subgenre

In [ ]:
genre_values = pd.DataFrame({
    'value': genres_df['value'].unique()
}).reset_index().rename(columns={'index':'genre_value_id'})

# genre_values

    genre_value_id                    value
0                0                Adventure
1                1                Animation
2                2                   Comedy
3                3             Buddy Comedy
4                4       Computer Animation
5                5                  Fantasy
6                6     Supernatural Fantasy
7                7          Urban Adventure
8                8         Animal Adventure
9                9                    Quest
10              10            Sea Adventure
11              11                   Action
12              12                Superhero
13              13               Motorsport
14              14                    Sport
15              15                   Family
16              16           Adventure Epic
17              17  Artificial Intelligence
18              18         Dystopian Sci-Fi
19              19                   Sci-Fi
20              20             Space Sci-Fi
21              21            Coming-of-Age
22              22  Globetrotting Adventure
23              23               Car Action
24              24                    Crime
25              25                      Spy
26              26               Fairy Tale
27              27          Sword & Sorcery
28              28           Teen Adventure
29              29       Dinosaur Adventure
30              30                    Drama
31              31                    Music
32              32                  Mystery
33              33                Road Trip
34              34             Fantasy Epic
35              35              Teen Comedy
36              36              Time Travel
37              37                  Romance
38              38               Teen Drama

In [ ]:
merged_df_4 = genres_df.merge(genre_category, on='category', how='inner')

genres_df = merged_df_4.drop(columns=['category'])

# genres_df

             film               value  category_id
0       Toy Story           Adventure            0
1       Toy Story           Animation            0
2       Toy Story              Comedy            0
3    A Bug's Life           Adventure            0
4    A Bug's Life           Animation            0
..            ...                 ...          ...
199  Inside Out 2       Coming-of-Age            1
200  Inside Out 2  Computer Animation            1
201  Inside Out 2               Quest            1
202  Inside Out 2         Teen Comedy            1
203  Inside Out 2          Teen Drama            1

[204 rows x 3 columns]

In [ ]:
merged_df_5 = genres_df.merge(genre_values, on='value', how='inner')

genres_df = merged_df_5.drop(columns='value')

# genres_df

               film  category_id  genre_value_id
0         Toy Story            0               0
1      A Bug's Life            0               0
2       Toy Story 2            0               0
3    Monsters, Inc.            0               0
4      Finding Nemo            0               0
..              ...          ...             ...
199     Turning Red            1              35
200    Inside Out 2            1              35
201       Lightyear            1              36
202       Elemental            1              37
203    Inside Out 2            1              38

[204 rows x 3 columns]

In [ ]:
merged_df_6 = genres_df.merge(pixar_films_df, on='film', how='inner')

genres_df = merged_df_6.drop(columns=['film', 'release_date', 'run_time', 'plot', 'film_rating_id'])

# genres_df

     category_id  genre_value_id  number
0              0               0       1
1              0               1       1
2              0               2       1
3              1               3       1
4              1               4       1
..           ...             ...     ...
199            1               4      28
200            1               9      28
201            1              21      28
202            1              35      28
203            1              38      28

[204 rows x 3 columns]

In [ ]:
# genres_df.to_csv("genres.csv", index=False)

# genre_category.to_csv("genre_category.csv", index=False)

# genre_values.to_csv("genre_values.csv", index=False)

# pixar_films_df

In [ ]:
# pixar_films_df

,number,film,release_date,run_time,film_rating,plot
0,1,Toy Story,1995-11-22,81,G,A cowboy doll is profoundly threatened and jea...
1,2,A Bug's Life,1998-11-25,95,G,"A misfit ant, looking for ""warriors"" to save h..."
2,3,Toy Story 2,1999-11-24,92,G,"When Woody is stolen by a toy collector, Buzz ..."
3,4,"Monsters, Inc.",2001-11-02,92,G,"In order to power the city, monsters have to s..."
4,5,Finding Nemo,2003-05-30,100,G,After his son is captured in the Great Barrier...
5,6,The Incredibles,2004-11-05,115,PG,"While trying to lead a quiet suburban life, a ..."
6,7,Cars,2006-06-09,116,G,"On the way to the biggest race of his life, a ..."
7,8,Ratatouille,2007-06-29,111,G,A rat who can cook makes an unusual alliance w...
8,9,WALL-E,2008-06-27,98,G,A robot who is responsible for cleaning a wast...
9,10,Up,2009-05-29,96,PG,78-year-old Carl Fredricksen travels to South ...
10,11,Toy Story 3,2010-06-18,103,G,The toys are mistakenly delivered to a day-car...
11,12,Cars 2,2011-06-24,106,G,Star race car Lightning McQueen and his pal Ma...
12,13,Brave,2012-06-22,93,PG,"Determined to make her own path in life, Princ..."
13,14,Monsters University,2013-06-21,104,G,A look at the relationship between Mike Wazows...
14,15,Inside Out,2015-06-19,95,PG,After young Riley is uprooted from her Midwest...
15,16,The Good Dinosaur,2015-11-25,93,PG,In a world where dinosaurs and humans live sid...
16,17,Finding Dory,2016-06-17,97,PG,Friendly but forgetful blue tang Dory begins a...
17,18,Cars 3,2017-06-16,102,G,Lightning McQueen sets out to prove to a new g...
18,19,Coco,2017-11-22,105,PG,"Aspiring musician Miguel, confronted with his ..."
19,20,Incredibles 2,2018-06-15,118,PG,The Incredibles family takes on a new mission ...
20,21,Toy Story 4,2019-06-21,100,G,"When a new toy called ""Forky"" joins Woody and ..."
21,22,Onward,2020-03-06,102,PG,Teenage elf brothers Ian and Barley embark on ...
22,23,Soul,2020-12-25,100,PG,Joe is a middle-school band teacher whose life...
23,24,Luca,2021-06-18,95,PG,"On the Italian Riviera, an unlikely but strong..."
24,25,Turning Red,2022-03-11,100,PG,A thirteen-year-old girl named Mei Lee is torn...
25,26,Lightyear,2022-06-17,105,PG,While spending years attempting to return home...
26,27,Elemental,2023-06-16,101,PG,"Follows Ember and Wade, in a city where fire-,..."
27,28,Inside Out 2,2024-06-14,96,PG,A sequel that features Riley entering puberty ...

In [ ]:
# pixar_films_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   number        28 non-null     int64
 1   film          28 non-null     object
 2   release_date  28 non-null     object
 3   run_time      28 non-null     int64
 4   film_rating   28 non-null     object
 5   plot          28 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.4+ KB

In [ ]:
# pixar_films_df.describe()

          number    run_time
count  28.000000   28.000000
mean   14.500000  100.392857
std     8.225975    8.047725
min     1.000000   81.000000
25%     7.750000   95.000000
50%    14.500000  100.000000
75%    21.250000  104.250000
max    28.000000  118.000000

In [13]:
pixar_films_df['release_date'] = pd.to_datetime(pixar_films_df['release_date']).dt.strftime('%d-%m-%Y')

# pixar_films_df.head()

In [14]:
film_ratings_df = pd.DataFrame({
    'film_rating': pixar_films_df['film_rating'].unique()
}).reset_index().rename(columns={'index': 'film_rating_id'})

# film_ratings_df

In [15]:
merged_df = pixar_films_df.merge(film_ratings_df, how='inner', on='film_rating')

pixar_films_df = merged_df.drop(columns=['film_rating'])

# pixar_films_df

In [17]:
films_df = pixar_films_df[['number', 'film']]

films_df.head()

   number            film
0       1       Toy Story
1       2    A Bug's Life
2       3     Toy Story 2
3       4  Monsters, Inc.
4       5    Finding Nemo

In [ ]:
# pixar_films_df.columns

Index(['number', 'film', 'release_date', 'run_time', 'plot', 'film_rating_id'], dtype='object')

In [ ]:
# film_ratings_df.to_csv("film_ratings.csv", index=False)

# pixar_films_df.to_csv("pixar_films.csv", index=False)

# films_df.to_csv("films_df.csv", index=False)

# pixar_people_df

In [ ]:
# pixar_people_df

             film     role_type              name
0       Toy Story      Director     John Lasseter
1       Toy Story      Musician      Randy Newman
2       Toy Story      Producer     Bonnie Arnold
3       Toy Story      Producer  Ralph Guggenheim
4       Toy Story  Screenwriter        Joel Cohen
..            ...           ...               ...
255  Inside Out 2      Producer      Mark Nielsen
256  Inside Out 2  Screenwriter     Dave Holstein
257  Inside Out 2  Screenwriter       Meg LeFauve
258  Inside Out 2   Storywriter       Meg LeFauve
259  Inside Out 2   Storywriter       Kelsey Mann

[260 rows x 3 columns]

In [ ]:
pixar_people_df.columns

Index(['film', 'role_type', 'name'], dtype='object')

In [ ]:
# pixar_people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   film       260 non-null    object
 1   role_type  260 non-null    object
 2   name       260 non-null    object
dtypes: object(3)
memory usage: 6.2+ KB

In [ ]:
# pixar_people_df.describe()

               film    role_type            name
count           260          260             260
unique           28            6              95
top     Toy Story 2  Storywriter  Andrew Stanton
freq             14           84              20

In [ ]:
people_df = pd.DataFrame({

    'name':pixar_people_df['name'].unique()
}).reset_index().rename(columns={'index':'poeple_id'})

# people_df

In [ ]:
role_types_df = pd.DataFrame({
    'role_type':pixar_people_df['role_type'].unique()
}).reset_index().rename(columns={'index':'role_type_id'})

# role_types_df

In [ ]:
merged_df_1 = pixar_people_df.merge(people_df, how='inner', on='name')

pixar_people_df = merged_df_1.drop(columns=['name'])

In [ ]:
merged_df_2 = pixar_people_df.merge(role_types_df, how='inner', on='role_type')

pixar_people_df = merged_df_2.drop(columns=['role_type'])

In [ ]:
merged_df_3 = pixar_people_df.merge(pixar_films_df, how='inner', on='film')

pixar_people_df = merged_df_3.drop(columns=['film', 'release_date', 'run_time', 'plot', 'film_rating_id'])

# pixar_people_df

     poeple_id  role_type_id  number
0            0             0       1
1            0             4       1
2            6             4       1
3            8             4       1
4            9             4       1
..         ...           ...     ...
255         88             4      25
256         85             3      25
257         87             3      25
258         86             1      25
259         61             2      25

[260 rows x 3 columns]

In [ ]:
# people_df.to_csv("people.csv", index=False)
# role_types_df.to_csv("role_types.csv", index=False)
# pixar_people_df.to_csv("pixar_people.csv", index=False)

# public_response_df

In [ ]:
# public_response_df

,film,rotten_tomatoes_score,rotten_tomatoes_counts,metacritic_score,metacritic_counts,cinema_score,imdb_score,imdb_counts
0,Toy Story,100,96,95,26,A,8.3,1089101
1,A Bug's Life,92,91,78,23,A,7.2,319596
2,Toy Story 2,100,172,88,34,A+,7.9,630573
3,"Monsters, Inc.",96,199,79,35,A+,8.1,1000657
4,Finding Nemo,99,270,90,38,A+,8.2,1132877
5,The Incredibles,97,250,90,41,A+,8.0,828986
6,Cars,75,204,73,39,A,7.2,484034
7,Ratatouille,96,253,96,37,A,8.1,851229
8,WALL-E,95,261,95,39,A,8.4,1226415
9,Up,98,297,88,37,A+,8.3,1151249
10,Toy Story 3,98,313,92,39,A,8.3,908222
11,Cars 2,40,220,57,38,A-,6.2,225724
12,Brave,79,256,69,37,A,7.1,452012
13,Monsters University,80,203,65,41,A,7.2,398903
14,Inside Out,98,387,94,55,A,8.1,834268
15,The Good Dinosaur,75,220,66,37,A,6.7,130324
16,Finding Dory,94,339,77,48,A,7.2,311793
17,Cars 3,69,234,59,41,A,6.7,128849
18,Coco,97,357,81,48,A+,8.4,618005
19,Incredibles 2,93,390,80,51,A+,7.5,341353
20,Toy Story 4,97,459,84,57,A,7.6,288783
21,Onward,88,350,64,56,A-,7.4,174917
22,Soul,95,360,83,55,NaN,8.0,392783
23,Luca,91,303,71,52,NaN,7.4,202404
24,Turning Red,95,289,83,52,NaN,7.0,158649
25,Lightyear,74,319,60,57,A-,6.1,127045
26,Elemental,73,262,58,45,A,7.0,140174
27,Inside Out 2,90,313,73,59,A,7.6,168090

In [ ]:
# public_response_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   film                    28 non-null     object
 1   rotten_tomatoes_score   28 non-null     int64
 2   rotten_tomatoes_counts  28 non-null     int64
 3   metacritic_score        28 non-null     int64
 4   metacritic_counts       28 non-null     int64
 5   cinema_score            25 non-null     object
 6   imdb_score              28 non-null     float64
 7   imdb_counts             28 non-null     int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.9+ KB

In [ ]:
# public_response_df.describe()

,rotten_tomatoes_score,rotten_tomatoes_counts,metacritic_score,metacritic_counts,imdb_score,imdb_counts
count,28.000000,28.000000,28.000000,28.000000,28.000000,2.800000e+01
mean,88.357143,273.821429,78.142857,43.464286,7.542857,5.256077e+05
std,13.447330,84.248773,12.408821,9.558716,0.658522,3.688713e+05
min,40.000000,91.000000,57.000000,23.000000,6.100000,1.270450e+05
25%,79.750000,220.000000,68.250000,37.000000,7.175000,1.955322e+05
50%,94.500000,266.000000,79.500000,41.000000,7.550000,3.958430e+05
75%,97.000000,324.000000,88.500000,52.000000,8.100000,8.385082e+05
max,100.000000,459.000000,96.000000,59.000000,8.400000,1.226415e+06

In [ ]:
cinema_score_df = pd.DataFrame({
    'cinema_score': public_response_df['cinema_score'].dropna().unique()
}).reset_index().rename(columns={'index': 'cinema_score_id'})

# cinema_score_df

   cinema_score_id cinema_score
0                0            A
1                1           A+
2                2           A-

In [ ]:
merged_df_8 = public_response_df.merge(cinema_score_df, on='cinema_score', how='inner')

public_response_df= merged_df_8.drop(columns=['cinema_score'])

# public_response_df

,film,rotten_tomatoes_score,rotten_tomatoes_counts,metacritic_score,metacritic_counts,imdb_score,imdb_counts,cinema_score_id
0,Toy Story,100,96,95,26,8.3,1089101,0
1,A Bug's Life,92,91,78,23,7.2,319596,0
2,Cars,75,204,73,39,7.2,484034,0
3,Ratatouille,96,253,96,37,8.1,851229,0
4,WALL-E,95,261,95,39,8.4,1226415,0
5,Toy Story 3,98,313,92,39,8.3,908222,0
6,Brave,79,256,69,37,7.1,452012,0
7,Monsters University,80,203,65,41,7.2,398903,0
8,Inside Out,98,387,94,55,8.1,834268,0
9,The Good Dinosaur,75,220,66,37,6.7,130324,0
10,Finding Dory,94,339,77,48,7.2,311793,0
11,Cars 3,69,234,59,41,6.7,128849,0
12,Toy Story 4,97,459,84,57,7.6,288783,0
13,Elemental,73,262,58,45,7.0,140174,0
14,Inside Out 2,90,313,73,59,7.6,168090,0
15,Toy Story 2,100,172,88,34,7.9,630573,1
16,"Monsters, Inc.",96,199,79,35,8.1,1000657,1
17,Finding Nemo,99,270,90,38,8.2,1132877,1
18,The Incredibles,97,250,90,41,8.0,828986,1
19,Up,98,297,88,37,8.3,1151249,1
20,Coco,97,357,81,48,8.4,618005,1
21,Incredibles 2,93,390,80,51,7.5,341353,1
22,Cars 2,40,220,57,38,6.2,225724,2
23,Onward,88,350,64,56,7.4,174917,2
24,Lightyear,74,319,60,57,6.1,127045,2

In [ ]:
merged_df_9 = public_response_df.merge(pixar_films_df, on='film', how='inner')

public_response_df = merged_df_9.drop(columns=['film', 'release_date', 'run_time', 'plot', 'film_rating_id'])

# public_response_df

,rotten_tomatoes_score,rotten_tomatoes_counts,metacritic_score,metacritic_counts,imdb_score,imdb_counts,cinema_score_id,number
0,100,96,95,26,8.3,1089101,0,1
1,92,91,78,23,7.2,319596,0,2
2,75,204,73,39,7.2,484034,0,7
3,96,253,96,37,8.1,851229,0,8
4,95,261,95,39,8.4,1226415,0,9
5,98,313,92,39,8.3,908222,0,11
6,79,256,69,37,7.1,452012,0,13
7,80,203,65,41,7.2,398903,0,14
8,98,387,94,55,8.1,834268,0,15
9,75,220,66,37,6.7,130324,0,16
10,94,339,77,48,7.2,311793,0,17
11,69,234,59,41,6.7,128849,0,18
12,97,459,84,57,7.6,288783,0,21
13,73,262,58,45,7.0,140174,0,27
14,90,313,73,59,7.6,168090,0,28
15,100,172,88,34,7.9,630573,1,3
16,96,199,79,35,8.1,1000657,1,4
17,99,270,90,38,8.2,1132877,1,5
18,97,250,90,41,8.0,828986,1,6
19,98,297,88,37,8.3,1151249,1,10
20,97,357,81,48,8.4,618005,1,19
21,93,390,80,51,7.5,341353,1,20
22,40,220,57,38,6.2,225724,2,12
23,88,350,64,56,7.4,174917,2,22
24,74,319,60,57,6.1,127045,2,26

In [ ]:
# public_response_df.to_csv("public_response.csv", index=False)

# cinema_score_df.to_csv("cinema_score.csv", index=False)